<!-- 게시판 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navbar exercise</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/77e29b57dd.js"
      crossorigin="anonymous"
    ></script>
    <!-- defer란 무엇인가?!!!! -->
    <base href="/">
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

/* 만들어놓고 필요한 곳에서 쓸 수 있다 */
:root {
    --text-color: #eee5e9;
    /* --background-color: #567c32; */
    --background-color: #33691E;
    --accent-color: #689F38;
  }
  
  /* 폰트는 최상위 컴포넌트에 */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* .body {
    margin: 0;
  } */
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .navbar {
    border-radius: 10px;
    position:sticky;
    top:0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 22px 12px;
    background-color: var(--background-color);
    width: 100%;
  }
  
  .navbar-logo {
    font-size: 30px;
    /* color: var(--text-color); */
  }
  
  .navbar-logo i {
    color: var(--accent-color);
    margin-left: 80px;  /*내정보 삭제하고 수정할 부분*/
  }
  
  /* menu */
  
  .navbar-menu {
    display: flex;
    padding-left: 0px;
    list-style: none;
    font-size: 24px;
    font-family: "Black Han Sans", sans-serif;
  }
  .navbar-menu li {
    padding: 15px 80px; /*내정보 삭제하고 수정할 부분*/
    word-spacing: 50px;
  }
  
  .navbar-menu li:hover {
    background-color: var(--accent-color);
    border-radius: 5px;
  }
  
  /* icon */
  .navbar-right {
    justify-content: flex-end;
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 12px;
    color: var(--text-color);
  }
  
  .navbar-right li {
    font-size: larger;
    padding: 8px 12px;
  }
  .link_text:hover{
    text-decoration: underline;
  }
  .navbar-more {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
    }
  
    .navbar-menu {
      display: none;
      flex-direction: column;
      text-align: center;
      width: 100%;
    }
    ￼ .navbar-menu a {
      display: block;
    }
  
    .navbar-right {
      display: none;
      justify-content: center;
      width: 100%;
    }
  
    .navbar-more {
      display: block;
    }
  
    .navbar-menu.active,
    .navbar-icon.active {
      display: flex;
    }

}

section {
  font-family: 'Noto Sans KR', sans-serif;
  padding : 60px;
  background-color: #F1F8E9;
  padding: 100px;
  padding-top: 70px;
}
article{
  /* margin-top: 10px; */
  margin: 20px;
}
table{
    width: 500px;
    padding: 20px;
    padding-left: 40px;
    border-spacing: 10px;
    /* border:1px solid #444444; */
}
/* th, td {
    border: 1px solid #444444;
} */
.container {
    background-color: #eee5e9;
	  display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.item:nth-child(2){
    margin: 10px;
}
.gesimul{
    background-color: #AED581;
    /* background-color: #F1F8E9; */
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 40px;
    height: 700px;
}
.enterroom{
    width: 170px;
    height: 100%;
}

button{
  border-radius: 20px;
  display: block;
  width: 250px; 
  height: 50px;
  margin: 0 auto; /* 블록요소가 부모 영역에서 가운데 오기 */
  border: none;
  background-color: #33691E;
  color: #fff; font-size: 14px; font-weight: bold;
}

/* 푸터 */
footer {
  border-top: 1px solid lightgray;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  color: black; 
  font-size: 12px;
  clear: both;
  position: relative;
}
.notice_box {
  flex: 1;
  display: flex;
  justify-content: space-between; /* 양끝 정렬 */
  align-items: center;
  border-bottom: 1px solid #f1f3f6;
}
.notice_box a {
  font-weight: bold;
  color: black;
}
.aside_box {
  flex: 2;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f3f6;
}
.area_user {
  flex: 4;
  line-height: 2em; /* 줄간격 */
}
.area_user_row {
  display: flex;
}
.area_user_row span {
  flex: 1;
}
.area_user_row ul {
  flex: 6;
}
.aur_title {
  font-size: 13px;
  font-weight: bold;
}
.area_user_row ul > li {
  display: inline-block; /* li 수평정렬하는 방법 */
  margin-left: 8px;
}
.area_col {
  flex: 1;
  display: flex;
}
.area_col .ac_content {
  line-height: 20px;
}
.area_col .ac_img {
  width: 60px;
  height: 60px;
}
.bottom_box {
  flex: 3;
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
}
.bottom_box ul > li {
  display: inline-block; /* 수평정렬 */
  margin-left: 8px;
}
.bottom_box ul > li:last-child { /* 마지막 li요소 (Naver Corp.) 굵게 */
  font-weight: bold;
}
/* 재사용 클래스 */
.color_naver {
  color: #03cf5d;
}
.text_bold-13 {
  font-weight: bold;
  font-size: 13px;
}
  </style>
  <body>
    <!-- container -->
    <nav class="navbar">
      <!-- logo -->
      <div class="navbar-logo">
        <!-- <i class="fas fa-frog"></i> -->
        <i class="far fa-lemon"></i>
        <!-- <div class="navbar-logo-name">FrogCoding</div> -->
        <a href="/main">POTATO</a>
      </div>
      <!-- menu -->
      <ul class="navbar-menu">
        <li><a href="/Gesipan">스터디그룹</a></li>
        <li><a href="/Create">방만들기</a></li>
        <li><a href="/myroom">내가만든방</a></li>
      </ul>
      <!-- 이름, 로그아웃, 장바구니 -->
      <ul class="navbar-right">
        <% myinfo.forEach(function (value) { %>
          <li><%= value.custname %>님</li>
          <% }); %>
          <li><a href="/logout" class="link_text">로그아웃</a></li>
        
      </ul>
      <a href="#" class="navbar-more">
      <i class="fas fa-bars"></i></a>
    </nav>
	</div>
    <div>

    <!-- 메인 -->
    <section>
    <p style = "text-align:center;font-size: 35px;"><b>스터디그룹</b></p>
    <div class = "gesimul"style="overflow-y:scroll">
      <% writing.forEach(function (value) { %>
    <article class = "container">
    <div class = "item">
      <table>
        <tr>
          <td colspan="2">
            <% if(value.roomcheck == "on"){%><img src = "img/lock.png" width="17" height="17"><%}
                else{%><img src = "img/unlock.png" width="17" height="17"><%} %>
          </td>
        </tr>
        <tr>
            <td colspan="2"><%= value.roomtitle %></td>
        </tr>
        <tr>
            <td width = "100px">2/4명</td>
            <td><img src = "img/crown.png" width="15" height="15">&nbsp;<%= value.custid %></td>
        </tr>
        <tr>
            <td>스터디그룹></td>
            <td><%= value.roomstyle %></td>
        </tr>
        <tr>
            <td colspan="2"><%= value.roomcon %></td>
        </tr>
    </table>
    </div>
    <input type = "hidden" value = <%= value.roomid %>>
    <div class = "item" >
            <% if(value.roomcheck =="on"){%>
            <button type = "button" class="enterroom" onClick="pwcheck('<%= value.roomid %>','<%= value.spw %>')">들어가기</button>
            <%}else{%>
              <button type = "button" class="enterroom" onClick="location.href='/goroom/<%= value.roomid%>'">들어가기</button>
        <%}%>
        
    </div>
    </article>
    <% }); %>
</div>
<script>
  //비밀방이면 비밀번호 확인.
  function pwcheck(roomid, pw){
    var a = prompt("비밀번호를 입력하세요");

    if(pw == a){
      location.href="/goroom/"+roomid+"";
    }else{
      alert("비밀번호가 일치하지 않습니다.");
    }
  }
</script>
  </section>
</div>
  <!--풋터-->
  <footer>
    <div class="notice_box">
      <p>공지사항</p>
    </div>
    <div class="aside_box">
      <div class="area_user">
        <div class="area_user_row">
          <span class="text_bold-13">Creators</span>
          <ul>
            <li><p>크리에이터</p></li>
            <li><p>스몰비즈니스</p></li>
          </ul>
        </div>
        <div class="area_user_row">
          <span class="text_bold-13">Partners</span>
          <ul>
            <li><p>비즈니스 광고</p></li>
            <li><p>스토어 개설</p></li>
            <li><p>지역업체 등록</p></li>
          </ul>
        </div>
        <div class="area_user_row">
          <span class="text_bold-13">Developers</span>
          <ul>
            <li><p>굿잡 개발자센터</p></li>
            <li><p>오픈API</p></li>
            <li><p>오픈소스</p></li>
            <li><p>굿잡 D2</p></li>
            <li><p>굿잡 D2SF</p></li>
            <li><p>굿잡 랩스</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom_box">
      <ul>
        <li><p>회사소개</p></li>
        <li><p>인재채용</a></li>
        <li><p>제휴제안</a></li>
        <li><p>이용약관</a></li>
        <li><p>개인정보처리방침</a></li>
        <li><p>청소년보호정책</p></li>
        <li><p>굿잡 정책</p></li>
        <li><p>고객센터</p></li>
        <li><p>&copy; 굿잡 Corp.</p></li>
      </ul>
    </div>
  </footer>
  </body>
</html>